@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .85vw;
    box-sizing: border-box;
    color: #fff;
    list-style: none;
    text-decoration: none;
}

/* EXCLUIR ESSE RESET DEPOIS */

img {
    width: 40px;
}

/* EXCLUIR ESSE RESET DEPOIS */

.teste {
    height: 100vh;
    background-color: #141414;
}

#firstSection {
    background: #141414 url('../images/banner.jpg') no-repeat ;
    background-size: cover;
    height: 56.25vw;
    width: 100%;
}


header {
    height: 68px;
    width: 100vw;
    display: flex;
    z-index: 1;
    position: fixed;
    justify-content: space-between;
    padding: 0px 4%;
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    transition: background-color .6s;
}

header.ativo {
    background-color: #141414;
}

#firstDivHeader {
    display: flex;
    
    align-items: center;
}

#logo_header {
    max-width: 92.5px;
    max-height: 29.6px;
    width: auto;
    height: auto;
    margin-right: 5px;
}

#links_header {
    display: flex;
}   

#inicio {
    color: #fff;
}

.link_header {
    font-size: 1.2rem;
    transition: .3s;
    color: rgba(240, 248, 255, 0.866);
    font-weight: 600;
    margin-left: 18px;
}

.link_header:hover {
    color: #b3b3b3;
}

#lastDivHeader {
    display: flex;
    align-items: center;
    gap: 20px;
}

#searchHeader, #notificationHeader {
    width: 24px;
    height: 24px;
}

#avatarHeader {
    height: 32px;
    width: auto;
    margin-right: 20px;
}

#filme {
    bottom: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 4%;
    position: absolute;
    top: 0;
    width: 36%;
    
}

#pFilme {
    font-size: 1.2vw;
}